.nav-active {
  background-color: rgb(105, 140, 185);
  transition: all .3s ease-out;
  border-radius: 2;
  text-decoration: none;
}

.logo-image {
  width: 120px;
  height: 70px;
}

.shopping-cart-image {
  width: 60px;
  height: 40px;
  margin-top: -15px; 
}

.disable-visited-color {
  color: inherit;
}

a.disable-visited-color:visited {
  color: inherit;
}

.cart-description-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* truncate to 4 lines */
  -webkit-line-clamp: 5;
}

.search-input {
  width: 33vh;
  padding: 6px 8px; 
  border-radius: 8px;
  color: grey;
  background: rgb(238, 236, 236); 
}


.form-login{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  gap: 15px;
}