import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';

.nav-active {
  color: rgb(62, 197, 197);
  transition: all .3s ease-out;
  display: flex;
  gap: 3;
}

 a {
   text-decoration: none;
   margin-bottom: 0.5rem;
   padding: 0.5rem;
   display: flex;
   gap:4;
   align-self: self-start;
   /* background-color: antiquewhite;  */
 }

a:hover {
  background-color: rgb(226, 194, 145),
}

a:link {
  text-decoration: none;
  display: flex;
  gap: 4;
  /* flex-wrap: wrap; */
  align-self: self-start;
} */
 
 

